@media screen {
  :root {
    --font-size: clamp(14px, max(1.75vw, 1.75vh), 22px);
    --display-font: 'Lacquer', sans-serif;
    --text-font: 'Arial', sans-serif;
    --basic-spacing: 2rem;
  }

  html,
  body {
    height: 100%;
  }

  html {
    font-size: var(--font-size);
    line-height: 1.4;
  }

  body {
    margin: 0;
    font-family: var(--text-font);
  }

  .container {
    padding: var(--basic-spacing);
  }

  .centered-text-content {
    max-width: 40rem;
    margin: 0 auto;
  }

  .tiny {
    font-size: 0.66em;
  }

  .small {
    font-size: 0.825em;
  }

  .gsap-auto-alpha {
    visibility: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  .choose-theory-subtitle {
    font-family: var(--display-font);
    line-height: 1.1;
    margin: 0;
    cursor: default;
    user-select: none;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  a {
    color: inherit;
  }

  canvas {
    position: absolute;
    inset: 0;
  }

  /* NO WEBGPU DISCLAIMER */

  #no-webgpu-disclaimer {
    position: fixed;
    right: calc(var(--basic-spacing) * 0.5);
    bottom: calc(var(--basic-spacing) * 0.5);
    padding: calc(var(--basic-spacing) * 0.5);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffffff;
    border-radius: calc(var(--basic-spacing) * 0.25);
    z-index: 1;
    max-width: 25em;
  }

  /* GSAP */

  .gsap-auto-alpha {
    visibility: hidden;
  }

  /* LENIS */

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* SHADOWED PARTICLES */

  #shadowed-particles-scene {
    position: relative;
    height: 100lvh;
    overflow: hidden;
    background: #4c4c4c;
    color: #ffffff;
  }

  .no-webgpu #shadowed-particles-scene:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url('/assets/fallbacks/shadowed-particles-scene-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .no-webgpu #shadowed-particles-scene.is-visible:after {
    opacity: 1;
    transition: opacity 1s;
  }

  #shadowed-particles-scene-canvas {
    position: absolute;
    inset: 0;
  }

  #shadowed-particles-scene-content {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .theory {
    position: absolute;
    z-index: 1000;
    cursor: default;

    background-color: rgba(0, 0, 0, 0.95);
    padding: 1rem 2rem;

    transition: background-color 0.25s ease-out;
  }

  .theory:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .theory-1 {
    position: relative;
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .theory-1:hover {
    background-color: rgba(109, 99, 51, 0.75);
  }

  .choose-theory {
    position: relative;
    align-self: center;
    justify-self: center;
    text-align: center;

    margin-top: 12rem;
    color: rgb(0, 0, 0)
  }

  .choose-theory-subtitle {
    margin-top: 1rem;
  }

  .theory-2 {
    bottom: 4rem;
    left: 2rem;
  }

  .theory-2:hover {
    background-color: rgba(127, 99, 100, 0.75);
  }

  .theory-3 {
    bottom: 4rem;
    right: 2rem;
  }

  .theory-3:hover {
    background-color: rgba(76, 76, 76, 0.75);
  }

  body::after {
    content: '';
    position: absolute;
    z-index: 1234;
    top: calc(100% - 2.75rem);
    width: 100%;
    height: 2rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1;
    font-family: var(--text-font);
    padding-top: 0.75rem;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.25s ease-out;
  }

  body:has(.theory-1:hover)::after {
    background-color: rgba(0, 0, 0, 0.75);
    content: 'NATO is out there to get us. They all want our gas and oil. We need to protect our resources.';
  }

  body:has(.theory-2:hover)::after {
    background-color: rgba(0, 0, 0, 0.75);
    content: 'We will never know the whole truth. They know what they are doing, otherwise how could they become so powerful?';
  }

  body:has(.theory-3:hover)::after {
    background-color: rgba(0, 0, 0, 0.75);
    content: 'Masons are everywhere. They have been controlling the world for centuries. They have raised the buckwheat prices to the moon.';
  }
}

@media screen and (max-width: 1024px) {
  .tiny {
    font-size: 0.75em;
  }

  .small {
    font-size: 0.9em;
  }

  /* GLTF SCENE */

  #gltf-scene-content {
    grid-column: 2 / -2;
  }

  #gltf-scene-object-container {
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    padding: 5rem 0;
  }

  #gltf-scene-object {
    grid-column: 4 / -4;
  }

  #gltf-scene-controls {
    grid-column: 2 / -2;
    justify-content: center;
  }

}

@media screen and (max-width: 720px) {
  :root {
    --basic-spacing: 1.5rem;
  }

  .tiny {
    font-size: 0.9em;
  }

  .small {
    font-size: 1em;
  }

  /* PLANE SCENE */

  #planes-grid .plane {
    grid-column: 1 / -1 !important;
    aspect-ratio: 16 / 9 !important;
    margin: 0 !important;
  }

  /* GLTF SCENE */

  #gltf-scene-content {
    grid-column: 1 / -1;
  }

  #gltf-scene-object-container {
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    padding: 3rem 0;
  }

  #gltf-scene-object {
    grid-column: 2 / -2;
  }

  #gltf-scene-controls {
    margin-top: 0;
  }

  #gltf-scene-controls-buttons {
    flex-wrap: wrap;
  }

  #gltf-scene-controls-buttons span {
    flex-basis: 100%;
    margin: 0 0 1rem 0;
  }

  #gltf-scene-controls-buttons button {
    margin: 0 1.5rem 0 0;
  }

  /* SHADOWED PARTICLES */

  #shadowed-particles-scene-content h2 {
    font-size: 3rem;
  }
}